<div class="admin-container">
  <nav class="top-nav">
    <div class="header-container">
      <div class="brand">MoneyFi Admin</div>

      <div class="user-section">
        <span class="user-info">
          <i class="user-icon">👤</i>
          {{username}}
        </span>

        <button class="logout-btn" (click)="logoutUser()" [disabled]="isLogoutLoading">
  
          <span *ngIf="!isLogoutLoading">Logout</span>
        
          <span *ngIf="isLogoutLoading" class="logout-spinner-container">
            <span class="spinner-small"></span>
            Logging out...
          </span>
        
        </button>
      </div>
    </div>
  </nav>

  <div class="loading-spinner" *ngIf="isLogoutLoading">
    <div class="spinner"></div>
    <span> Logging out... </span>
  </div>

  <div class="layout">
    <aside class="side-nav">
      <ul class="nav-list">
        <li routerLink="/admin/home">Dashboard</li>
        <li [routerLink]="['/admin/users', 'All']">Total Users</li>
        <li [routerLink]="['/admin/requests', 'All']">User Requests</li>
        <li routerLink="/admin/user-defects">User Issues</li>
        <li routerLink="/admin/feedbacks">User Feedbacks</li>
        <li routerLink="/admin/insights">Insights/Charts</li>
        <li routerLink="/admin/configuration">Configuration</li>
      </ul>
    </aside>

    <!-- IMPORTANT -->
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>

  </div>
</div>