<h2 mat-dialog-title>Decline Request</h2>
<div mat-dialog-content>
  <p><strong>Name:</strong> {{ data.name }}</p>
  <p><strong>Username:</strong> {{ data.username }}</p>
  <p><strong>Description:</strong> {{ data.description }}</p>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter Reference Number</mat-label>
    <input matInput [(ngModel)]="enteredRefNumber" />
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Enter decline reason</mat-label>
    <input matInput [(ngModel)]="declineReasonInput" />
  </mat-form-field>
</div>

<div mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-flat-button color="primary" (click)="onConfirm()">OK</button>
</div>
