<div class="user-grid-container">
  <!-- Filter Inputs -->
  <div class="filters">
    <div class="filter-field">
      <label for="name">Name:</label>
      <input id="name" type="text" placeholder="Filter by Name" [(ngModel)]="nameFilter" />
    </div>

    <div class="filter-field">
      <label for="username">Username:</label>
      <input id="username" type="text" placeholder="Filter by Username" [(ngModel)]="usernameFilter" />
    </div>

    <div class="filter-field">
      <label for="phone">Phone:</label>
      <input id="phone" type="text" placeholder="Filter by Phone" [(ngModel)]="phoneFilter" />
    </div>

    <div>
      <button class="report-btn" (click)="generateReport()" style="margin-left: 5px;" [disabled]="isLoading">
        <ng-container *ngIf="!isLoading; else loadingTpl">
          📊 Generate Report
        </ng-container>
        <ng-template #loadingTpl>
          <span class="spinner"></span> Generating...
        </ng-template>
      </button>
    </div>
  </div>

    <table class="grid-table">
      <thead>
        <tr>
          <th>S No</th>
          <th>Name</th>
          <th>Username</th>
          <th>Phone</th>
          <th>
            Created Date
            <span 
              class="toggle-icon"
              (click)="toggleOrder()" 
              title="Toggle Order"
            >
              ⇅
            </span>
          </th>
          <th> Date of Birth </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers(); let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.name }}</td>
          <!-- <td>{{ user.username }}</td> -->
          <td>
            <span class="username-link"
                  (click)="openUserProfile(user.username)">
                  {{ user.username }}
            </span>
          </td>
          <td>{{ user.phone }}</td>
          <td>{{ user.createdDateTime }}</td>
          <td>{{ user.dateOfBirth }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="isGridLoading" class="grid-loader">
       Loading users...
    </div>
  </div>



<div class="profile-dialog-backdrop" *ngIf="showUserDialog">
  <div class="profile-dialog">

    <!-- Profile Header -->
    <div class="profile-header">
      <div class="profile-pic">
        <!-- Spinner -->
          <div class="spinner" *ngIf="isImageLoading"></div>
          <img [src]="profileImage"
              alt="Profile Picture"
              [class.hidden]="isImageLoading" />
      </div>

      <div class="profile-basic">
        <h2>{{userProfile?.name}} 
          <span class="status-badge"
              [ngClass]="{
                'active': userProfile?.userStatus === 'ACTIVE',
                'blocked': userProfile?.userStatus === 'BLOCKED',
                'deleted': userProfile?.userStatus === 'DELETED'
              }">
          {{userProfile?.userStatus}}
        </span>
      </h2> 
        <p>{{userProfile?.username}}</p>
      </div>
      <button
        class="block-btn"
        (click)="openBlockDialog()"
        [disabled]="userProfile?.userStatus !== 'ACTIVE'">
        Block User
      </button>

      <!-- Close Button -->
      <div class="dialog-close" (click)="closeUserDialog()">Close</div>
    </div>

    <!-- Basic Details -->
    <div class="profile-section">

      <h3>Basic Information</h3>

      <div class="profile-grid">
        <div><label>Phone</label><span>{{userProfile?.phoneNumber}}</span></div>
        <div><label>Gender</label><span>{{userProfile?.gender}}</span></div>
        <div><label>DOB</label><span>{{userProfile?.dateOfBirth}}</span></div>
        <div><label>Marital Status</label><span>{{userProfile?.maritalStatus}}</span></div>
        <div><label>Created</label><span>{{userProfile?.createdTime}}</span></div>
        <div><label>Account Creation Source</label><span>{{userProfile?.accountCreationSource}}</span></div>
        <div class="address"><label>Address</label><span>{{userProfile?.address}}</span></div>
      </div>

    </div>

    <!-- Name Change Requests -->
    <div class="profile-section">

      <h3>Name Change Requests (Active: {{userProfile?.userRequestCount.nameChangeActiveRequests}}, Completed: {{userProfile?.userRequestCount.nameChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.nameChangeDeclinedRequests}})</h3>
      <ng-container *ngIf="userProfile?.nameChangeRequests?.length > 0; else noNameChangeRequestData">

      <table class="dialog-table">
        <tr>
          <th>New Name</th>
          <th>Old Name</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>Reason</th>
          <th>Admin Involved</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.nameChangeRequests">
          <td>{{req.newName}}</td>
          <td>{{req.oldName}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td>{{req.reasonForNameChange}}</td>
          <td>{{req.requestDoneBy}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noNameChangeRequestData>
        <div class="no-data">
          No Name Change Requests found
        </div>
      </ng-template>
    </div>


    <!-- Account Unblock -->
    <div class="profile-section">

      <h3>Account Unblock Requests (Active: {{userProfile?.userRequestCount.accBlockActiveRequests}}, Completed: {{userProfile?.userRequestCount.accBlockChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.accBlockChangeDeclinedRequests}})</h3>
      <ng-container *ngIf="userProfile?.unblockAccountRequests?.length > 0; else noUnblockRequestData">
      <table class="dialog-table">

        <tr>
          <th>Reason</th>
          <th>Blocked By</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>Admin Involved</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.unblockAccountRequests">

          <td>{{req.unblockRequestReason}}</td>
          <td>{{req.blockedBy}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td>{{req.requestDoneBy}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noUnblockRequestData>
        <div class="no-data">
          No User Unblock Requests found
        </div>
      </ng-template>
    </div>

    <!-- Account Retrieval -->
    <div class="profile-section">
      <h3>Account Retrieval Requests (Active: {{userProfile?.userRequestCount.accRetrieveChangeActiveRequests}}, Completed: {{userProfile?.userRequestCount.accRetrieveChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.accRetrieveChangeDeclinedRequests}})</h3>
      <ng-container *ngIf="userProfile?.accountRetrievalRequests?.length > 0; else noRetrievalRequestData">
      <table class="dialog-table">
        <tr>
          <th>Reason</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>Admin Involved</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.accountRetrievalRequests">
          <td>{{req.accountRetrievalRequestReason}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td>{{req.requestDoneBy}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noRetrievalRequestData>
        <div class="no-data">
          No Account Retrieval requests found
        </div>
      </ng-template>
    </div>


    <!-- Password Change History -->
    <div class="profile-section">
      <h3>Password Change History </h3>
      <ng-container *ngIf="userProfile?.passwordChangeHistoryTrackDtoList?.length > 0; else noPasswordChangeHistoryData">
      <table class="dialog-table">
        <tr>
          <th>Date & Time</th>
          <th>Reason</th>
        </tr>
        <tr *ngFor="let req of userProfile?.passwordChangeHistoryTrackDtoList">
          <td>{{ req.changedAt | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.reasonForChange}}</td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noPasswordChangeHistoryData>
        <div class="no-data">
          No password change history found
        </div>
      </ng-template>
    </div>

    <!-- Forgot Password History -->
    <div class="profile-section">
      <h3>Forgot Password Service History </h3>
      <ng-container *ngIf="userProfile?.forgotPasswordHistoryTrackDtoList?.length > 0; else noForgotPasswordHistoryData">
      <table class="dialog-table">
        <tr>
          <th>Date & Time</th>
          <th>Reason</th>
        </tr>
        <tr *ngFor="let req of userProfile?.forgotPasswordHistoryTrackDtoList">
          <td>{{ req.changedAt | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.reasonForChange}}</td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noForgotPasswordHistoryData>
        <div class="no-data">
          No forgot password history found
        </div>
      </ng-template>
    </div>


    <!-- User Raised Requests History -->
    <div class="profile-section">
      <h3>User Raised Requests History</h3>
      <ng-container *ngIf="userProfile?.userDefectTrackingForAdminDtoList?.length > 0; else noUserRaisedRequestData">
      <table class="dialog-table">
        <tr>
          <th>Start Date</th>
          <th>Pend Time</th>
          <th>End Date</th>
          <th>Reference Number</th>
          <th>Status</th>
          <th>Description</th>
          <th>Admin Remarks</th>
          <th>Admin Involved</th>
          <th>Image</th>
        </tr>
        <tr *ngFor="let req of userProfile?.userDefectTrackingForAdminDtoList">
          <td>{{ req.startTime | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{ req.pendTime | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{ req.endTime | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.status}}</td>
          <td>{{req.description}}</td>
          <td>{{req.adminRemarks}}</td>
          <td>{{req.requestDoneBy}}</td>
          <td> 
            <!-- Image -->
            <div class="image-preview" (click)="viewImage(userProfile?.username, req.defectId, 'DEFECT')">
              <img src="assets/image-placeholder.png" alt="View" />
              <p class="click-text">Click to view image</p>
            </div>
          </td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noUserRaisedRequestData>
        <div class="no-data">
          No User Raised Requests found
        </div>
      </ng-template>
    </div>



    <!-- Gmail Sync Count Increase Requests History -->
    <div class="profile-section">
      <h3>Gmail Sync Count Increase Requests History</h3>
      <ng-container *ngIf="userProfile?.userGmailSyncCountIncreaseRequestHistoryTractDtoLit?.length > 0; else noUserRaisedGmailSyncCountIncreaseRequestData">
      <table class="dialog-table">
        <tr>
          <th>Start Date</th>
          <th>Total Time taken</th>
          <th>Reference Number</th>
          <th>Status</th>
          <th>User Description</th>
          <th>Admin Remarks</th>
          <th>Admin Involved</th>
          <th>Image</th>
        </tr>
        <tr *ngFor="let req of userProfile?.userGmailSyncCountIncreaseRequestHistoryTractDtoLit">
          <td>{{ req.startDate | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{ req.totalTimeTaken }}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.status}}</td>
          <td>{{req.requestedReasonAndCount}}</td>
          <td>{{req.adminRemarks}}</td>
          <td>{{req.requestDoneBy}}</td>
          <td> 
            <div class="image-preview" (click)="viewImage(userProfile?.username, req.requestId, 'REQUEST')">
              <img src="assets/image-placeholder.png" alt="View" />
              <p class="click-text">Click to view image</p>
            </div>
          </td>
        </tr>
      </table>
      </ng-container>
      <ng-template #noUserRaisedGmailSyncCountIncreaseRequestData>
        <div class="no-data">
          No gmail sync countincrease Requests found
        </div>
      </ng-template>
    </div>




  </div>


  <div class="block-dialog-backdrop" *ngIf="showBlockDialog">
    <div class="block-dialog">
      <h3>Block User</h3>

      <p class="warning-text">
        You are about to block this user account.
      </p>

      <label>Reason</label>
      <textarea
        [(ngModel)]="blockReason"
        name="blockReason"
        placeholder="Enter reason for blocking"
        required
        #reasonRef="ngModel">
      </textarea>

      <div class="error" *ngIf="reasonRef.invalid && reasonRef.touched">
        Reason is required
      </div>

      <label>Evidence File</label>
      <input type="file"
            (change)="onFileSelected($event)"
            required>

      <div class="error" *ngIf="fileError">
        Evidence file is required
      </div>

      <div class="dialog-actions">
        <button class="cancel-btn" (click)="closeBlockDialog()">Cancel</button>
        <button class="confirm-btn" (click)="blockUser()">Confirm Block</button>
      </div>
    </div>
  </div>


   <!-- Modal -->
  <div *ngIf="selectedImage" class="image-modal">
    <div class="modal-content">
      <span class="close-btn" (click)="selectedImage = null">&times;</span>
      <img [src]="selectedImage" alt="Defect Image" />
    </div>
  </div>
</div>