spring:
  profiles:
    active: ${PROFILE:sqlserver}
  application:
    name:
      MoneyFi-wealth-core

  boot:
    admin:
      client:
        url: http://localhost:8760
        username: admin        # <-- must match monitor server
        password: admin123     # <-- must match monitor server
        instance:
          metadata:
            user.name: client
            user.password: client123

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
  cache:
    type: redis
    redis:
      time-to-live: 3600000

  management:
    endpoints:
      web:
        exposure:
          include: "*"
    endpoint:
      health:
        show-details: always


logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

  jackson:
    time-zone: Asia/Kolkata

jwt:
  secret: ekhfjulewfsuydg342fhdarewugafhs69aufg7efesdaf
