spring:

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false


  rabbitmq:
    uri: ${RABBITMQ_URI}

rabbitmq:
  queue: rabbit.mq.queue
  exchange: rabbit.mq.exchange
  routing-key: rabbit.mq.routing.key

application:
  bucket:
    name: ${AWS_S3_BUCKET_NAME}
