spring:
  boot:
    admin:
      client:
        url: http://localhost:8760
        username: admin        # <-- must match monitor server
        password: admin123     # <-- must match monitor server
        instance:
          metadata:
            user.name: client
            user.password: client123

  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

rabbitmq:
  queue: rabbit.mq.queue
  exchange: rabbit.mq.exchange
  routing-key: rabbit.mq.routing.key

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

email:
  filter:
    from:
      email : ${ADMIN_EMAIL}
      password : ${ADMIN_PASSWORD}

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY}
      secret-key: ${AWS_SECRET_KEY}
    region:
      static: ${AWS_REGION}
    stack:
      auto: false

application:
  bucket:
    name: ${AWS_S3_BUCKET_NAME}

cloudinary:
  credentials:
    cloud-name: ${CLOUDINARY_CLOUD_NAME}
    api-key: ${CLOUDINARY_API_KEY}
    api-secret: ${CLOUDINARY_API_SECRET}