spring:
  boot:
    admin:
      client:
        url: http://localhost:8760
        username: admin        # <-- must match monitor server
        password: admin123     # <-- must match monitor server
        instance:
          metadata:
            user.name: client
            user.password: client123

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always

email:
  filter:
    from:
      email : xxxxxxxxxxxxx
      password : xxxxxxxxxxx

cloud:
  aws:
    credentials:
      access-key: xxxxxxxxxxxxx
      secret-key: xxxxxxxxxxxx
    region:
      static: xxxxxxxxxxxx
    stack:
      auto: false

application:
  bucket:
    name: xxxxxxxxxxxxx

cloudinary:
  credentials:
    cloud-name: xxxxxxxxxxxxx
    api-key: xxxxxxxxxxxxxxx
    api-secret: xxxxxxxxxxx