spring:
  application:
    name: MoneyFi-api-gateway
  profiles:
    active: ${PROFILE:local}
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
          github:
            client-id: ${GITHUB_CLIENT_ID}
            client-secret: ${GITHUB_CLIENT_SECRET}
          facebook:
            client-id: xxxxxxxxxxxxxxxxxx
            client-secret: xxxxxxxxxxxxxxxxxxxxxxxxxx
            redirect-uri: "xxxxxxxxxxxxxxxxxxxxx"

  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  cloud:
    gateway:
      mvc:
        routes:
          - id: MoneyFi-income
            uri: lb://MoneyFi-income
            predicates:
              - Path=/api/v1/income-service/user/**
          - id: MoneyFi-expense
            uri: lb://MoneyFi-expense
            predicates:
              - Path=/api/v1/expense/**
          - id: MoneyFi-budget
            uri: lb://MoneyFi-budget
            predicates:
              - Path=/api/v1/budget-service/user/**
          - id: MoneyFi-goal
            uri: lb://MoneyFi-goal
            predicates:
              - Path=/api/v1/goal/**
          - id: MoneyFi-user
            uri: lb://MoneyFi-user
            predicates:
              - Path=/api/v1/user-service/**, /api/v1/user-service/admin/**, /api/v1/user-service/common/**, /api/v1/user-service/user-admin/**

jwt:
  secret: ekhfjulewfsuydg342fhdarewugafhs69aufg7efesdaf

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
  instance:
    prefer-ip-address: true

cors:
  allowed-origins: ${ALLOWED_ORIGINS}


  jackson:
    time-zone: Asia/Kolkata

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE

server:
  port: 8765
