<div class="admin-container">
  <nav class="top-nav">
    <div class="brand">MoneyFi Admin</div>
  </nav>

  <div class="layout">
    <aside class="side-nav">
        <ul class="nav-list">
          <li routerLink="/admin/home">Dashboard</li>
          <li [routerLink]="['/admin/users', 'All']">Total Users</li>
          <li [routerLink]="['/admin/requests', 'All']">User Requests</li>
          <li routerLink="/admin/user-defects">User Issues</li>
          <li routerLink="/admin/feedbacks">User Feedbacks</li>
          <li routerLink="/admin/insights">Insights/Charts</li>
          <li routerLink="/admin/configuration">Configuration</li>
        </ul>
        <ul class="logout-list">
          <li (click)="logoutUser()">Logout</li>
        </ul>
      </aside>


      <div class="user-grid-container">
      <!-- Filter Inputs -->
      <div class="filters">
        <div class="filter-field">
          <label for="name">Name:</label>
          <input id="name" type="text" placeholder="Filter by Name" [(ngModel)]="nameFilter" />
        </div>

        <div class="filter-field">
          <label for="username">Username:</label>
          <input id="username" type="text" placeholder="Filter by Username" [(ngModel)]="usernameFilter" />
        </div>

        <div class="filter-field">
          <label for="phone">Phone:</label>
          <input id="phone" type="text" placeholder="Filter by Phone" [(ngModel)]="phoneFilter" />
        </div>

        <div>
          <button class="report-btn" (click)="generateReport()" style="margin-left: 5px;" [disabled]="isLoading">
            <ng-container *ngIf="!isLoading; else loadingTpl">
              📊 Generate Report
            </ng-container>
            <ng-template #loadingTpl>
              <span class="spinner"></span> Generating...
            </ng-template>
          </button>
        </div>
      </div>

      <div *ngIf="isGridLoading" class="grid-loader">
        <span class="spinner"></span> Loading users...
      </div>

        <table class="grid-table">
          <thead>
            <tr>
              <th>S No</th>
              <th>Name</th>
              <th>Username</th>
              <th>Phone</th>
              <th>
                Created Date
                <span 
                  class="toggle-icon"
                  (click)="toggleOrder()" 
                  title="Toggle Order"
                >
                  ⇅
                </span>
              </th>
              <th> Date of Birth </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of filteredUsers(); let i = index">
              <td>{{ i + 1 }}</td>
              <td>{{ user.name }}</td>
              <!-- <td>{{ user.username }}</td> -->
              <td>
                <span class="username-link"
                      (click)="openUserProfile(user.username)">
                      {{ user.username }}
                </span>
              </td>
              <td>{{ user.phone }}</td>
              <td>{{ user.createdDateTime }}</td>
              <td>{{ user.dateOfBirth }}</td>
            </tr>
          </tbody>
        </table>
      </div>

  </div>
</div>



<div class="profile-dialog-backdrop" *ngIf="showUserDialog">
  <div class="profile-dialog">

    <!-- Profile Header -->
    <div class="profile-header">
      <div class="profile-pic">
        <!-- Spinner -->
          <div class="spinner" *ngIf="isImageLoading"></div>
          <img [src]="profileImage"
              alt="Profile Picture"
              [class.hidden]="isImageLoading" />
      </div>

      <div class="profile-basic">
        <h2>{{userProfile?.name}}</h2>
        <p>{{userProfile?.username}}</p>
      </div>
      <button class="block-btn" (click)="openBlockDialog()">
        Block User
      </button>

      <!-- Close Button -->
      <div class="dialog-close" (click)="closeUserDialog()">Close</div>
    </div>

    <!-- Basic Details -->
    <div class="profile-section">

      <h3>Basic Information</h3>

      <div class="profile-grid">
        <div><label>Phone</label><span>{{userProfile?.phoneNumber}}</span></div>
        <div><label>Gender</label><span>{{userProfile?.gender}}</span></div>
        <div><label>DOB</label><span>{{userProfile?.dateOfBirth}}</span></div>
        <div><label>Marital Status</label><span>{{userProfile?.maritalStatus}}</span></div>
        <div><label>Created</label><span>{{userProfile?.createdTime}}</span></div>
        <div><label>Account Creation Source</label><span>{{userProfile?.accountCreationSource}}</span></div>
        <div class="address"><label>Address</label><span>{{userProfile?.address}}</span></div>
      </div>

    </div>

    <!-- Name Change Requests -->
    <div class="profile-section">

      <h3>Name Change Requests (Active: {{userProfile?.userRequestCount.nameChangeActiveRequests}}, Completed: {{userProfile?.userRequestCount.nameChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.nameChangeDeclinedRequests}})</h3>

      <table class="dialog-table">
        <tr>
          <th>New Name</th>
          <th>Old Name</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>Reason</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.nameChangeRequests">
          <td>{{req.newName}}</td>
          <td>{{req.oldName}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td>{{req.reasonForNameChange}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
    </div>


    <!-- Account Unblock -->
    <div class="profile-section">

      <h3>Account Unblock Requests (Active: {{userProfile?.userRequestCount.accBlockActiveRequests}}, Completed: {{userProfile?.userRequestCount.accBlockChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.accBlockChangeDeclinedRequests}})</h3>

      <table class="dialog-table">

        <tr>
          <th>Reason</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.unblockAccountRequests">

          <td>{{req.unblockRequestReason}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
    </div>

    <!-- Account Retrieval -->
    <div class="profile-section">

      <h3>Account Retrieval Requests (Active: {{userProfile?.userRequestCount.accRetrieveChangeActiveRequests}}, Completed: {{userProfile?.userRequestCount.accRetrieveChangeCompletedRequests}}, Declined: {{userProfile?.userRequestCount.accRetrieveChangeDeclinedRequests}})</h3>

      <table class="dialog-table">

        <tr>
          <th>Reason</th>
          <th>Status</th>
          <th>Reference</th>
          <th>Time taken (days)</th>
          <th>History</th>
        </tr>

        <tr *ngFor="let req of userProfile?.accountRetrievalRequests">

          <td>{{req.accountRetrievalRequestReason}}</td>
          <td>{{req.requestStatus}}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.daysTakenForCompletion}}</td>
          <td> 
            <div class="timeline-item" *ngFor="let item of getHistory(req.requestTimeStatusHistory)">
              <div class="timeline-dot"></div>
              <div class="timeline-content">
                <div style="display: flex; justify-content: space-between;">
                  <div class="timeline-status">
                    {{item.status}}
                  </div>
                  <div class="timeline-time">
                    {{item.time}}
                  </div>
                </div>
              </div>
            </div> 
          </td>
        </tr>
      </table>
    </div>


    <!-- Password Change History -->
    <div class="profile-section">
      <h3>Password Change History </h3>
      <table class="dialog-table">
        <tr>
          <th>Date & Time</th>
          <th>Reason</th>
        </tr>
        <tr *ngFor="let req of userProfile?.passwordChangeHistoryTrackDtoList">
          <td>{{ req.changedAt | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.reasonForChange}}</td>
        </tr>
      </table>
    </div>

    <!-- Forgot Password History -->
    <div class="profile-section">
      <h3>Forgot Password Service History </h3>
      <table class="dialog-table">
        <tr>
          <th>Date & Time</th>
          <th>Reason</th>
        </tr>
        <tr *ngFor="let req of userProfile?.forgotPasswordHistoryTrackDtoList">
          <td>{{ req.changedAt | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.reasonForChange}}</td>
        </tr>
      </table>
    </div>


    <!-- User Raised Requests History -->
    <div class="profile-section">
      <h3>User Raised Requests History</h3>
      <table class="dialog-table">
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Reference Number</th>
          <th>Status</th>
          <th>Description</th>
          <th>Admin Remarks</th>
          <th>Image</th>
        </tr>
        <tr *ngFor="let req of userProfile?.userDefectTrackingForAdminDtoList">
          <td>{{ req.startTime | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{ req.endTime | date:'dd MMM yyyy, hh:mm a' }}</td>
          <td>{{req.referenceNumber}}</td>
          <td>{{req.status}}</td>
          <td>{{req.description}}</td>
          <td>{{req.adminRemarks}}</td>
          <td> 
            <!-- Image -->
            <div class="image-preview" (click)="viewImage(userProfile?.username, req.defectId)">
              <img src="assets/image-placeholder.png" alt="View" />
              <p class="click-text">Click to view image</p>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="block-dialog-backdrop" *ngIf="showBlockDialog">
    <div class="block-dialog">
      <h3>Block User</h3>

      <p class="warning-text">
        You are about to block this user account.
      </p>

      <label>Reason</label>
      <textarea
        [(ngModel)]="blockReason"
        name="blockReason"
        placeholder="Enter reason for blocking"
        required
        #reasonRef="ngModel">
      </textarea>

      <div class="error" *ngIf="reasonRef.invalid && reasonRef.touched">
        Reason is required
      </div>

      <label>Evidence File</label>
      <input type="file"
            (change)="onFileSelected($event)"
            required>

      <div class="error" *ngIf="fileError">
        Evidence file is required
      </div>

      <div class="dialog-actions">
        <button class="cancel-btn" (click)="closeBlockDialog()">Cancel</button>
        <button class="confirm-btn" (click)="blockUser()">Confirm Block</button>
      </div>
    </div>
  </div>


   <!-- Modal -->
  <div *ngIf="selectedImage" class="image-modal">
    <div class="modal-content">
      <span class="close-btn" (click)="selectedImage = null">&times;</span>
      <img [src]="selectedImage" alt="Defect Image" />
    </div>
  </div>
</div>